<!DOCTYPE html>
<html lang="en">

    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <!-- Vista de Inicio -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bienvenidos a <span>SpecialFood</span>
      </h1>
      <h2>Nosotros somos un emprendimiento peruano</h2>
      <div class="d-flex">
        <a class="btn-get-started scrollto" asp-controller="Home" asp-action="Platos">Nuestros Platos</a>
        <a href="https://www.youtube.com/watch?v=EgJoXtCJIrQ" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
      </div>
    </div>
  </section>
  <!-- script JS -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/aos/aos.js"></script>



<div class="container">
 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/images/sangrecita.webp" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Sangrecita</h3>
          <p>La mejor sangrecita de pollo para ti y tu familia</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/mazamorra2.jpg" alt="Chicago" style="width:100%;" width="100" height="100 ">
        <div class="carousel-caption">
          <h3>Mazamorra</h3>
          <p>No te olvides del postre para tus engreídos de casa</p>
        </div>
      </div>
    
      <div class="item">
        <img src="/images/jugo2.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Jugo Verde</h3>
          <p>Disfruta también del jugo verde rica en hierro!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>





   <main id="main">

 
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Variedad de Platos</a></h4>
              <p class="description">Aquí encontrarás variedad de platos y muchas recetas que te pueden servir :)</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Delivery</a></h4>
              <p class="description">Contamos con nuestro propio personal de delivery, no tercerizamos para llevarte un mejor servicio :).</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Horario de atención</a></h4>
              <p class="description">Trabajamos de Lunes a Domingo de 10am hasta las 10pm.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Cobertura</a></h4>
              <p class="description">Nuestro emprendimiento lleva a todo Lima y Callao</p>
            </div>
          </div>

        </div>

      </div>
    </section>

  
  <script src="js/main.js"></script>
<!-- Final de la vista-->

</html>