<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Jugo verde</title>

</head>

 <br><br><br><br><br>
 <!-- ======= Inicio de la vista ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Jugo Verde</h2>
          <h3>JUGO VERDE PARA COMBATIR<span> LA ANEMIA</span></h3>
          <p>La primer receta rica en hierro que nos servirá como un remedio natural para sanar la anemia será este jugo verde que también es ideal para mujeres embarazadas ya que contiene una gran cantidad de calcio, potasio y magnesio lo que ayudará al buen desarrollo del bebé y a proteger los huesos de la mamá de una descalcificación.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100"><br><br><br><br><br>
            <img src="/images/jugo.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Ingredientes.</h3>
            <p class="font-italic">
                
                <ol>
                    <li>1/2 plátano 
                    <li>4 ciruelas pasas
                    <li>1 cucharada de chia
                    <li>2 tazas de hojas verdes que pueden ser acelgas, espinaca, kale, brócoli, lo que tengas en casa, mientras mas verde mejor.
                    <li>1.5 tazas de agua
                    <li>5 tza de hielo
                </ol>
         
        
            <ul>
               <h5>Preparación:</h5><br>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>

                   
                  
                  <p>Coloca la chia en la taza y media de agua y déjala remojando por lo menos 5 minutos. De preferencia la puedes dejar en remojo desde una noche antes. Queremos que agarre una consistencia gelatinosa </p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p> Coloca el agua con chia en la licuadora y agrega el resto de los ingredientes.</p>
                </div>
                <li>
                   <i class="bx bx-images"></i>
              <div>
                 <p>
             Licúa hasta pulverizar.
                  </p>
                  </div>
                </li>
                 
              </li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- Final de la vista -->
      

</html>