<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mazamorra</title>

</head>

 <br><br><br><br><br>
 <!-- ======= Inicio de la vista ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Postre creativo</h2>
          <h3>La mejor combinación de<span> Mazamorra morenita para anémicos</span></h3>
          <p> Esta mazamorra aprovecha el hierro de la sangrecita para prevenir la anemia en los más pequeños de la casa.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100"><br><br><br><br><br>
            <img src="/images/mazamorra.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Ingredientes.</h3>
            <p class="font-italic">
                
                <ol>
                    <li> 2 cucharadas de sangrecita sancochada.
                    <li> ½ cucharada de maicena.
                    <li> 1 durazno pequeño sin cáscara.
                    <li> ½ taza de agua.
                    <li> Canela y clavo de olor.
            
                </ol>
         
        
            <ul>
               <h5>Preparación:</h5><br>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>       
                  
                  <p>Licua la sangrecita sancochada y el durazno con la mitad de agua. Después, el licuado lo pones a cocinar con el clavo de olor y la canela.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p>Cuando empiece a hervir agregas la maicena disuelta en el resto del agua.</p>
                </div>
                <li>
                   <i class="bx bx-images"></i>
              <div>
                 <p>
             Por último, remueve constantemente hasta que se torne espeso.
                  </p>
                  </div>
                </li>
                 
              </li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- Final de la vista -->
      

</html>