<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Planteamiento del problema</title>

</head>

 <br><br><br><br><br>
 <!-- ======= Inicio de la vista Problema ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sangrecita de Pollo</h2>
          <h3>¿Por qué la sangrecita de pollo<span>puede prevenir la anemia?</span></h3>
          <p>Antes de proporcionarte esta clásica receta de sangrecita de pollo que forma parte de las formas naturales como se combaten la anemia, déjanos contarte un poco sobre las propiedades de la sangrecita de pollo. Según el MINSA la sangrecita de pollo, así como el bazo o el pescado, son alimentos ricos en hierro, por lo que su implementación en la dieta diaria contribuye a la prevención de la anemia.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="/images/problema.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Ingredientes.</h3>
            <p class="font-italic">
           1 barra sangrecita ya hervida (supermercados) y si fresca tienes que hervirlo previamente.
1 yuca
Cebollita china
2 unidades de papas
1 diente ajo
Sal
Aceite
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>

                   
                  <h5>Preparación</h5>
                  <p> Pon a hervir en una olla las yucas peladas y cortadas en trozos pequeños. Añade la sal cuando ya esté hirviendo. Tarda al menos unos 20 a 25 minutos en cocinarse bien    </p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p> En otra sartén, previamente corta las papas en cuadraditos listas para el momento de freír. Calienta el aceite y procede a freírlas.</p>
                </div>
              </li>
            </ul>
            <p>
             En una sartén pon a sofreír a fuego suave el ajo picado y añade la cebollita china hasta con su colita verde, remueve y echa un poco de sal. Después vierte directamente la sangrecita.
            </p>
          </div>
        </div>

      </div>
    </section><!-- Final de la vista -->
      

</html>