<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tallarines</title>

</head>

 <br><br><br><br><br>
 <!-- ======= Inicio de la vista ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>DELICIA DE TALLARINES</h2>
          <h3>Tallarines verdes<span> con hígado de pollo</span></h3>
          <p>﻿La anemia es un problema de salud que no se debe pasar por alto, en especial entre los más pequeños de la casa. Es por eso que resulta útil contar con recetas para combatir la anemia en niños, pues la prevención empieza con una alimentación adecuada.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100"><br><br><br>
            <img src="/images/tallarines.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Ingredientes.</h3>
            <p class="font-italic">
                
                <ol>
                    <li>Fideos cabello de ángel.
                    <li>2 cucharadas de hígado de pollo.
                    <li>6 hojas de espinaca.
                    <li>1 cucharadita de aceite vegetal.
                    <li>1 diente de ajo.
                    <li>4 cucharadas de leche.
                    <li>2 cucharadas de agua.
                </ol>
         
        
            <ul>
               <h5>Preparación:</h5><br>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>

                   
                  
                  <p>Sancochas los fideos con un punto de sal. Después, lavas y licúas la espinaca con el agua. </p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p>Luego, en una olla sofríes el ajo molido, el aceite y el hígado picadito; añades la sal y la espinaca licuada, también añades la leche y remueves.</p>
                </div>
                <li>
                   <i class="bx bx-images"></i>
              <div>
                 <p>
             Por último, mezclas los fideos con el aderezo y sirves.
                  </p>
                  </div>
                </li>
                 
              </li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- Final de la vista -->
      

</html>