<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Torrejita</title>

</head>

 <br><br><br><br><br>
 <!-- ======= Inicio de la vista ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Receta creativa</h2>
          <h3>Torrejita<span> de vegetales</span></h3>
          <p>Estas recetas de comidas y alimentos ricos en hierro además de deliciosas son perfectas para personas buscando remedios naturales para curar la anemia o mujeres embarazadas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100"><br><br><br><br><br>
            <img src="/images/torrejita.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Ingredientes.</h3>
            <p class="font-italic">
                
                <ol>
                    <li> ¼ de zanahoria.
                    <li> 1 flor de brócoli.
                    <li> 1 huevo.
                    <li> 1 cucharada de agua.
                    <li> 1 y ½ cucharada de harina de trigo.
                    <li> 1 cucharada de bazo.
                    <li> 1 cucharadita de aceite.
                </ol>
         
        
            <ul>
               <h5>Preparación:</h5><br>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>       
                  
                  <p>Sancochas el bazo picado en cuadritos. Luego, bate la harina con el agua e incorpora el huevo</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p>Después, agrega a la mezcla la zanahoria rallada, el brócoli picado y la sal.</p>
                </div>
                <li>
                   <i class="bx bx-images"></i>
              <div>
                 <p>
             Por último, calienta el aceite en una sartén y pon a freír la torrejita.
                  </p>
                  </div>
                </li>
                 
              </li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- Final de la vista -->
      

</html>